acme==2.11.0
beautifulsoup4==4.12.3
certbot==2.11.0
certbot-dns-ovh==2.11.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
ConfigArgParse==1.7
configobj==5.0.9
cryptography==43.0.1
distro==1.9.0
dns-lexicon==3.18.0
dnspython==2.7.0
filelock==3.16.1
idna==3.10
josepy==1.14.0
parsedatetime==2.6
pycparser==2.22
pyOpenSSL==24.2.1
pyotp==2.9.0
pyRFC3339==1.1
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
requests-file==2.1.0
setuptools==75.1.0
soupsieve==2.6
tldextract==5.1.2
urllib3==2.2.3
